:root {

    --cor-primaria-1: #231942;
    --cor-primaria-2: #240046;
    --cor-primaria-3: #3C096C;
    --cor-primaria-4: #5A189A;
    --cor-primaria-5: #7B2CBF;

    --cor-neutra-1: #fff;
    --cor-neutra-2: #1d1d1d;
}

header {
    width: 100%;
    padding: 20px 8%;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-primaria-5);
}

.nav_lista {
    display: flex;
list-style: none;
gap: 80px;
text-transform: uppercase;
}

.nav-item {
    background-color: var(--cor-primaria-4);
    font-size: 1.2rem;
    font-weight: 600;
}

.nav-item:hover {
    background-color: var(--cor-primaria-4);
color: var(--cor-neutra-1);
cursor: pointer;
}

.nav-item.ativo a {

}